@import "bower_components/bootstrap/less/bootstrap.less";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family:' Roboto', sans-serif;
}
h1#head {
	padding: 5px 2px 5px 2px;
	margin:0px;
	background-color:#efefef;
	border-bottom: 1px gray dashed;
}